
.menuButton{
    margin: 0; padding: 0;
    display: inline-block;
    padding: 20px;
    width: 33.333333%;
    font-size: 18px;
    font-weight: 500;
    background: #aaa;
    list-style-type:none;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    
    
}

.editButton{
    padding-right: 0% 0px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.msg{
    color:red;
}

#accept {
    display: block;
    background: #aaa;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    margin-top: 10%;
    font-size: 18px;
    font-weight: 500;
    color:black;
    border-radius: 20px;
}
form {
    height: 620px;
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    padding: 50px 35px;
}
input{
    display: block;
    background-color:rgba(77, 75, 75, 0.1);
    height: 50px;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color:black;
    border: none;
    outline: none;
    
    
}


label{
    display: block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    
}


@media (max-width: 768px) {
    form{
        width: auto;
        margin-top: 20%;
        
    }

    label{
        font-size: 14px;
    }

    button {
        text-align: center;
        font-size: 14px;
    }

}


