<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 <title>Document</title>
 </head>
 <body>

 <nav class="navbar">
 <!-- LOGO -->
 <div class="logo">E-Przychodnia</div>
 <!-- NAVIGATION MENU -->
 <ul class="nav-links">
 <!-- USING CHECKBOX HACK -->
 <input type="checkbox" id="checkbox_toggle" />
 <label for="checkbox_toggle" class="hamburger">&#9776;</label>
 <!-- NAVIGATION MENUS -->
 <div class="menu">
 <li><a href="/">Strona Główna</a></li>
 <li><a href="/">O Stronie</a></li>
 <li><a routerLink="/register">Rejestracja</a></li>
 <li *ngIf="check() === 0"><a routerLink="/login" >Logowanie</a></li>
 <li *ngIf="check() === 1"><a  routerLink="/login" (click)="logout()">Wyloguj</a></li>
 <li class="loggedUser" *ngIf="check() === 1"><a  routerLink="/{{tempRole}}" >Zalogowałeś się jako {{username}}</a></li>
 </div>
 </ul>
 </nav>
 <!--<img src="\assets\MediImage.jpg" width="100%" height="100%"/>-->
 <router-outlet></router-outlet>
 </body>
</html>