*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


form small{
    color: red;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}



form{
    height: 600px;
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    padding: 50px 35px;
}

form *{
    
    color: #050505;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color:black
}

label{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    
}
input{
    display: block;
    background-color:rgba(77, 75, 75, 0.1);
    height: 50px;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color:black
    
}
::placeholder{
    color: #757474;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color:gray;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}


@media  (max-width: 768px) {
    /* For mobile phones: */
    form
    {
        height: auto;
        width: auto;
        margin-top: 10%;
        z-index: -1;
    }
  }